name: Simple Test
on: workflow_dispatch
jobs:
  redeploy:
    runs-on: self-hosted
    steps: # 操作的步骤
      - name: Inspect Runner File System
        env:
          ALIYUN_USERNAME: ${{ secrets.ALIYUN_USERNAME }}
          ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}
        run: |
          echo "开始重新部署..."
          bash /runner/psd_project_manager/redeploy.sh