name: Docker Build and Push

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:  # 允许手动触发

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps: # 操作的步骤
      - name: Checkout code # 名称
        uses: actions/checkout@v2

      - name: Log in to Alibaba Cloud Container Registry # 登录到阿里云的容器
        env: # 环境变量
          ALIYUN_REGISTRY: registry.cn-beijing.aliyuncs.com/pazerwong/design_project_management
          ALIYUN_USERNAME: ${{ secrets.ALIYUN_USERNAME }}  # 使用 GitHub Secrets 存储阿里云用户名
          ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}  # 使用 GitHub Secrets 存储阿里云密码
        run: | # 使用命令行的登录
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username "${{ secrets.ALIYUN_USERNAME }}" --password-stdin $ALIYUN_REGISTRY

      - name: Build Docker image # 代码打包  命令行创建，需要路径
        id: build
        run: | 
          IMAGE_NAME="registry.cn-beijing.aliyuncs.com/pazerwong/design_project_management"
          TIMESTAMP=$(date +'%Y%m%d%H%M%S')
          TAG="latest"
          docker build -t "${IMAGE_NAME}:${TAG}" -f Dockerfile . 

      - name: Push Docker image # 代码Push 
        run: |
          IMAGE_NAME="registry.cn-beijing.aliyuncs.com/pazerwong/design_project_management"
          TAG="latest"
          docker push "${IMAGE_NAME}:${TAG}"

  redeploy:
    needs: build-and-push
    runs-on: self-hosted
    steps: # 操作的步骤
      - name: Inspect Runner File System
        env:
          ALIYUN_USERNAME: ${{ secrets.ALIYUN_USERNAME }}
          ALIYUN_PASSWORD: ${{ secrets.ALIYUN_PASSWORD }}
        run: |
          echo "--- 当前工作目录 (pwd) ---"
          bash /runner/psd_project_manager/redeploy.sh