name: Simple Test
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          script: echo "Hello from NAS"